
@{

  ViewBag.Title = "Welome";
}

  <p>Use this area to provide additional information.</p>

  <div class="menu-items">
    <h1 class="title">Blue Light Confence Center</h1>
    <div class="menu-item study1">
      <figure>
        <img class="menu-item__img" src="https://static.squarespace.com/static/51b79838e4b0b8b55c75cf91/t/51c4b688e4b03003ea9f1a63/1371846281755/Hexxis+Logo+White.png" alt="" />
      </figure>
      <div class="menu-item__overlay">
        <h2 class="menu-item__title">Developing Hexxis</h2>
        <a class="menu-item__link" href="#">View Case Study</a>
      </div>
    </div>

    <div class="menu-item study2">
      <figure>
        <img class="menu-item__img" src="https://static.squarespace.com/static/51b79838e4b0b8b55c75cf91/t/51c4b688e4b03003ea9f1a63/1371846281755/Hexxis+Logo+White.png" alt="" />
      </figure>
      <div class="menu-item__overlay">
        <h2 class="menu-item__title">Developing Hexxis</h2>
        <a class="menu-item__link" href="#">View Case Study</a>
      </div>
    </div>

    <div class="menu-item study3">
      <figure>
        <img class="menu-item__img" src="https://static.squarespace.com/static/51b79838e4b0b8b55c75cf91/t/51c4b688e4b03003ea9f1a63/1371846281755/Hexxis+Logo+White.png" alt="" />
      </figure>
      <div class="menu-item__overlay">
        <h2 class="menu-item__title">Developing Hexxis</h2>
        <a class="menu-item__link" href="#">View Case Study</a>
      </div>
    </div>

    <div class="menu-item study4">
      <figure>
        <img class="menu-item__img" src="https://static.squarespace.com/static/51b79838e4b0b8b55c75cf91/t/51c4b688e4b03003ea9f1a63/1371846281755/Hexxis+Logo+White.png" alt="" />
      </figure>
      <div class="menu-item__overlay">
        <h2 class="menu-item__title">Developing Hexxis</h2>
        <a class="menu-item__link" href="#">View Case Study</a>
      </div>
    </div>

    <div class="menu-item study5">
      <figure>
        <img class="menu-item__img" src="https://static.squarespace.com/static/51b79838e4b0b8b55c75cf91/t/51c4b688e4b03003ea9f1a63/1371846281755/Hexxis+Logo+White.png" alt="" />
      </figure>
      <div class="menu-item__overlay">
        <h2 class="menu-item__title">Developing Hexxis</h2>
        <a class="menu-item__link" href="#">View Case Study</a>
      </div>
    </div>

    <div class="menu-item study6">
      <figure>
        <img class="menu-item__img" src="https://static.squarespace.com/static/51b79838e4b0b8b55c75cf91/t/51c4b688e4b03003ea9f1a63/1371846281755/Hexxis+Logo+White.png" alt="" />
      </figure>
      <div class="menu-item__overlay">
        <h2 class="menu-item__title">Developing Hexxis</h2>
        <a class="menu-item__link" href="#">View Case Study</a>
      </div>
    </div>
  </div>
