
@{

  ViewBag.Title = "Welome";
}

  <p>Use this area to provide additional information.</p>

  <div class="case-study-gallery">
    <h1 class="title">CASE STUDIES</h1>
    <p>This is an example of a portfolio gallery. It has some simple hover transitions and is pretty rad.</p>
    <div class="case-study study1">
      <figure>
        <img class="case-study__img" src="https://static.squarespace.com/static/51b79838e4b0b8b55c75cf91/t/51c4b688e4b03003ea9f1a63/1371846281755/Hexxis+Logo+White.png" alt="" />
      </figure>
      <div class="case-study__overlay">
        <h2 class="case-study__title">Developing Hexxis</h2>
        <a class="case-study__link" href="#">View Case Study</a>
      </div>
    </div>

    <div class="case-study study2">
      <figure>
        <img class="case-study__img" src="https://static.squarespace.com/static/51b79838e4b0b8b55c75cf91/t/51c4b688e4b03003ea9f1a63/1371846281755/Hexxis+Logo+White.png" alt="" />
      </figure>
      <div class="case-study__overlay">
        <h2 class="case-study__title">Developing Hexxis</h2>
        <a class="case-study__link" href="#">View Case Study</a>
      </div>
    </div>

    <div class="case-study study3">
      <figure>
        <img class="case-study__img" src="https://static.squarespace.com/static/51b79838e4b0b8b55c75cf91/t/51c4b688e4b03003ea9f1a63/1371846281755/Hexxis+Logo+White.png" alt="" />
      </figure>
      <div class="case-study__overlay">
        <h2 class="case-study__title">Developing Hexxis</h2>
        <a class="case-study__link" href="#">View Case Study</a>
      </div>
    </div>

    <div class="case-study study4">
      <figure>
        <img class="case-study__img" src="https://static.squarespace.com/static/51b79838e4b0b8b55c75cf91/t/51c4b688e4b03003ea9f1a63/1371846281755/Hexxis+Logo+White.png" alt="" />
      </figure>
      <div class="case-study__overlay">
        <h2 class="case-study__title">Developing Hexxis</h2>
        <a class="case-study__link" href="#">View Case Study</a>
      </div>
    </div>

    <div class="case-study study5">
      <figure>
        <img class="case-study__img" src="https://static.squarespace.com/static/51b79838e4b0b8b55c75cf91/t/51c4b688e4b03003ea9f1a63/1371846281755/Hexxis+Logo+White.png" alt="" />
      </figure>
      <div class="case-study__overlay">
        <h2 class="case-study__title">Developing Hexxis</h2>
        <a class="case-study__link" href="#">View Case Study</a>
      </div>
    </div>

    <div class="case-study study6">
      <figure>
        <img class="case-study__img" src="https://static.squarespace.com/static/51b79838e4b0b8b55c75cf91/t/51c4b688e4b03003ea9f1a63/1371846281755/Hexxis+Logo+White.png" alt="" />
      </figure>
      <div class="case-study__overlay">
        <h2 class="case-study__title">Developing Hexxis</h2>
        <a class="case-study__link" href="#">View Case Study</a>
      </div>
    </div>
  </div>
